<template>
    <div class="container page-create-recipe">

        <div class="has-text-centered">
            <sync-loader :loading="recipe.isLoading" :color="color" :size="size"></sync-loader>     
        </div>

        <div v-if="!recipe.isLoading" @keyup.enter="store($event)">

            <div class="columns">
            	<div class="column is-1"></div>
                <div class="column is-6">
                	<h1 class="title">{{ recipe.title }}</h1>
                </div>
                <div class="column is-4">
				    <a v-if="this.recipe.id > 0" v-bind:href="/recipes/+recipe.id">
				    	<button class="button view-recipe">View Recipe</button>
			    	</a>
                </div>
                <div class="column is-1"></div>
            </div>

	    	<div class="columns">
	    		<div class="column is-1"></div>

	    		<div class="column is-10">

					<div class="columns">
						<div class="column is-6">
							<TitleDescription :recipe="recipe"></TitleDescription>
						</div>

						<div class="column is-6">
							<ImageSelector :recipe="recipe"></ImageSelector>
						</div>
					</div>

			    	<div class="columns">
				    	<div class="column is-6">

				    		<h4 class="subtitle is-4">Ingredients</h4>

							<!--  Recipe Ingredients Selector -->
							<label class="label">Choose your ingredient(s)</label>

							<div class="columns">
								<div class="column is-8">
									<multiselect 
										v-model="currentSelectedIngredient"
										:options="listOfAllIngredients" 
										:multiple="false" 
										:close-on-select="true" 
										:clear-on-select="true" 
										:hide-selected="true"
										placeholder="Pick an ingredient" 
										label="name" 
										track-by="name">
									</multiselect>			

									<p class="help is-danger" v-show="showWarning">Ingredient already added!</p>		
								</div>

								<div class="column is-4">
									<button class="button" @click="addIngredientToRecipe">Add Ingredient</button>
								</div>
							</div>

							<!--  Recipe Ingredients and their respective amounts -->
							<div class="ingredients" >
								<div v-for="ingredient in recipe.ingredients" class="ingredient">		
									<Ingredients :ingredient="ingredient" @deleteIngredient="removeIngredientFromRecipe"></Ingredients>
								</div>
							</div>	
						</div>

						<div class="column is-6">
							<h4 class="subtitle is-4">Steps</h4>
							<RecipeSteps :steps="recipe.steps" @addAnotherStep="addAnotherStep" @deleteThisStep="deleteThisStep"></RecipeSteps>
						</div>
					</div>	


					<!--  Bottom Navigation: Create recipe and back to home -->
					<div class="field is-grouped">
					
					  <p class="control">
					    <button v-if="!editCreatedRecipe" class="button is-success" v-on:click="store" v-bind:class="{ 'is-loading': isPosting }">Create Recipe</button>
					    <button v-if="editCreatedRecipe" class="button is-success" v-on:click="store" v-bind:class="{ 'is-loading': isPosting }">Update Recipe</button>
					  </p>

					  <p class="control">
						<a v-if="this.recipe.id > 0" v-bind:href="/recipes/+recipe.id">
							<button class="button view-recipe">Go to recipe</button>
						</a>
					  </p>

					  <p class="control">
				        <a href="/"><button class="button">Back to Home</button></a>
					  </p>

					</div>
				</div>

				<div class="column is-1"></div>

			</div>
		</div>

    </div>
</template>

<script>
    import Recipe from '../../models/recipe';
    import Ingredient from '../../models/ingredient';

    import { validationMixin } from 'vuelidate';
    import { email, required, minLength, between } from 'vuelidate/lib/validators';

    import Multiselect from 'vue-multiselect';
    import SyncLoader from 'vue-spinner/src/SyncLoader.vue';
    import Toasted from 'vue-toasted';
   
    import Ingredients from '../Ingredient/add';
    import RecipeSteps from '../Step/add';
    import TitleDescription from './title-description';
    import ImageSelector from './imageselector';

    export default {

    	components: { 
    		Multiselect,
    		SyncLoader,

    		Ingredients,
    		RecipeSteps,
    		TitleDescription,
    		ImageSelector
    	},

        data: function() {
            return { 
            	recipe: {
                	title: '',
                	description: '',
                	ingredients: [], // contains all selected ingredients
                	steps: [ // contains all steps
                		{ stepnumber: 1, description: '' }
                	],
                	duration: 0,
					image: 'default.jpg',
					isLoading: false,
					imageAdded: false
                },
            	
				isPosting: false,
            	currentSelectedIngredient: { amount: 0 }, // initialize default amount of 0
				listOfAllIngredients: [], // contains all available ingredients
				showWarning: false,
				editCreatedRecipe: false,

                color: '#5dc596',
                size: '20px'   				
        	}
        },

		validations: {

	    	recipe: {
	    		title: {
	    			required,
	    			minLength: minLength(4)
	    			
	    		},	   
	    		 		
	    		description: {
	    			required,
	    			minLength: minLength(20)
	    		}
	    	}

	    }, 		        

        computed: {

        	isIngredientAlreadyInList: function() {
        		var vm = this;
				return vm.recipe.ingredients.some(function (el) {
					return el.id === vm.currentSelectedIngredient.id;
				});
        	},

        	pageTitle: function() {
        		var creationTitle = this.recipe.title == '' ? 'Edit recipe' : this.recipe.title;
        		return this.editCreatedRecipe ? creationTitle : 'Create your own recipe';
        	}

        },     

        created() {

        	Ingredient.all(ingredient => this.listOfAllIngredients = ingredient).then(function () {  });
            
			//** If an ID is supplied via the URL: retrieve the recipe            
            var id = window.location.pathname.split('/')[2];
            if(!isNaN(id)) {
            	this.recipe.isLoading = true;
	            Recipe.find(recipe => this.recipe = recipe, id).then((recipe) => {	
	            	this.editCreatedRecipe = true;
	            	this.recipe.isLoading = false;
	            	// this.recipe.isPosting = false;
	            });
    		}
        },

        methods: {  	

        	addAnotherStep: function() {
				this.recipe.steps.push( { stepnumber: this.recipe.steps.length + 1, description: '' } );
        	},

        	deleteThisStep: function(step) {
        		this.recipe.steps.splice( this.recipe.steps.indexOf(step), 1 );
        	},

        	toggleWarning: function() {
        		this.showWarning = !this.showWarning; // toggle showWarning boolean
        		this.showWarning ? setTimeout(this.toggleWarning, 3000) : null; // when true: hide warning after 3 seconds
        	},

        	//** Adds the selected ingredient to the list with their respective amounts
        	addIngredientToRecipe: function() {
        		var vm = this;

				vm.isIngredientAlreadyInList ? vm.toggleWarning() : null; // display warning when already in list

        		if(vm.currentSelectedIngredient.id > 0 && !vm.isIngredientAlreadyInList) {
        			vm.currentSelectedIngredient.amount = 0;	
        			vm.recipe.ingredients.push(vm.currentSelectedIngredient);
        		}        		
        	},

        	removeIngredientFromRecipe: function (ingredient) {
        		this.recipe.ingredients.splice( this.recipe.ingredients.indexOf(ingredient), 1 );
        	},

        	store: function(evt) { 
        		if(this.editCreatedRecipe && evt.target.className != 'textarea') {
        			this.updateRecipe();
        		} else if(evt.target.className != 'textarea') {
        			this.saveRecipe();
        		}
        	},

        	//** Posts the recipe to the API which returns the saved recipe
        	saveRecipe: function() {
    			var vm = this;
    			vm.isPosting = true;

    			// console.log(this.$v.$dirty);

				if(vm.$v.$invalid == true || !vm.recipe.imageAdded) {
					console.log('Form invalid.');
					vm.isPosting = false;

				} else if(!vm.$v.$invalid && vm.recipe.imageAdded) {
					console.log('Form valid.');

	        		Recipe.create(vm.recipe).then(function(savedRecipe) {	
	        			vm.isPosting = false;
	        			vm.editCreatedRecipe = true;
					  	vm.recipe.id = savedRecipe.data.id; // alternatively vm.recipe = savedRecipe.data;

					  	console.log(savedRecipe.data);
						// window.location.replace('/recipes/' + savedRecipe.data.id);
					}, function(reason) {
					  	console.log(reason);
					  	vm.isPosting = false;
					});

				}
        	},

        	updateRecipe: function() {
    			var vm = this;
    			vm.isPosting = true;

				if(vm.$v.$invalid == true || !vm.recipe.imageAdded) {
					let toast3 = this.$toasted.error("Recipe updated!", { 
						 theme: "bubble", 
						 position: "bottom-right", 
						 duration : 1500
					});					
					
					console.log('Form invalid.');
					vm.isPosting = false;
				} else if(!vm.$v.$invalid && vm.recipe.imageAdded) {
					console.log('Form valid.');

	        		Recipe.update(vm.recipe).then(function(savedRecipe) {	
						let toast1 = this.$toasted.success("Recipe updated!", { 
							 theme: "bubble", 
							 position: "bottom-right", 
							 duration : 1500
						});					  	
					  	
					  	console.log(savedRecipe);
	        			vm.isPosting = false;
					  	
						// window.location.replace('/recipes/' + savedRecipe.data.id);
					}.bind(this), function(reason) {
						let toast3 = this.$toasted.error("Updated failed!", { 
							 theme: "bubble", 
							 position: "bottom-right", 
							 duration : 2500
						});					  	
					  	
					  	console.log(reason);
					  	vm.isPosting = false;
					}.bind(this));					
				}
        	},
        }
    }
</script>