<template>

	<div v-if="!recipe.isLoading">
		<!--  Recipe Image select - IS HIDDEN FROM USER  -->
		<div class="form-group">
			<div class="field">
				<input type="file" id="file-upload" @change="previewImage" class="is-hidden" />
			</div>
		</div>			

		<!--  Recipe Image  -->
		<div class="form-group image-container">
			<div class="field">
				<figure class="image is-square">
					<!-- <img id="image" />		 -->
					<img id="image" :src="imageURL" @click="uploadImage" v-bind:class="{ 'error':  imageError }"> />					
				</figure>
			</div>
		</div>		

	</div>

</template>

<script>
	export default {

		props: ['recipe'],

		methods: {

       		uploadImage: function() {
				document.getElementById("file-upload").click();
        	}, 	

			previewImage: function(e) {
				var input = e.target;
			    var reader = new FileReader();
			    var image = input.files[0];

			    reader.onload = function (e) {
			        // get loaded data and render thumbnail.
			        document.getElementById("image").src = e.target.result;
			    };

			    // read the image file as a data URL.
			    reader.readAsDataURL(image);
			    this.recipe.image = image;
			    this.recipe.imageAdded = true;
			},
		
		},

		created (){
			// TODO: ENHANCE THIS VALIDATION!!
			this.recipe.imageAdded = this.image == '' ? false : true;
		},

		computed: {
			imageURL: function() {
				return '/uploads/avatars/' + this.recipe.image;
			},

			imageError: function() {
				if(this.recipe.isPosting && !this.recipe.imageAdded) {
					return true;
				} else {
					return false;
				}
			}
		},

	}
</script>