<template>
    <div class="container page-show">

        <div class="has-text-centered">
            <sync-loader :loading="loading" :color="color" :size="size"></sync-loader> 
        </div>

        <div v-if="!loading">
            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">

                    <div class="columns">                    
                        <div class="column is-6">
                            <h1 class="title">{{ recipe.title }}</h1>
                            <div class="field is-grouped">
                                <a href="/">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                </a>
                                <a v-if="isAuthorisedToEdit" v-bind:href="'/recipes/' + recipe.id + '/edit/'">
                                    <span class="icon">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </span>
                                </a>
                                <DeleteRecipeButton v-if="isAuthorisedToEdit" :recipe="recipe"></DeleteRecipeButton>
                            </div>

                            <p>{{ recipe.description }}</p>                        

                            <p v-if="notEmpty(recipe.timeToFinishRecipe)">It takes {{ recipe.timeToFinishRecipe }} to finish this recipe.</p>

                        </div>
                        <div class="column is-6">
                            <div>
                                <img :src="'/uploads/avatars/' + recipe.image">
                            </div>                        
                        </div>
                    </div>

                    <br/>

                    <div class="ingredients" v-for="ingredient in recipe.ingredients">
                        <AddIngredientToRecipe :ingredient="ingredient"></AddIngredientToRecipe>
                    </div>
                    
                </div>
                <div class="column is-2"></div>
            </div>

            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">        
                    <RecipeStepsShow :steps="recipe.steps"></RecipeStepsShow>
                </div>
                <div class="column is-2"></div>
            </div>        

            <div class="columns">
                <div class="column is-2"></div>
                <div class="column is-8">        
                    <ShowComment :recipe="recipe"></ShowComment>
                </div>
                <div class="column is-2"></div>
            </div>  

            <CreateComment :recipe="recipe" @addComment="addComment"></CreateComment>

        </div>
    </div>
</template>

<script>
    import RecipeModel from '../../models/recipe';
    import IngredientModel from '../../models/ingredient';
    import ProfileModel from '../../models/profile';

    import DeleteRecipeButton from '../../components/delete-recipe-button';

    import CreateComment from '../Comment/create';
    import ShowComment from '../Comment/show';
    import AddIngredientToRecipe from '../Ingredient/show';
    import RecipeStepsShow from '../Step/show';

    import SyncLoader from 'vue-spinner/src/SyncLoader.vue';

    import Moment from 'moment';

    export default {

        components: {
            DeleteRecipeButton,
            CreateComment,
            ShowComment,
            AddIngredientToRecipe,
            SyncLoader,
            RecipeStepsShow,
            Moment
        },

        data: function() {
            return {          

                recipe: {
                    comments: []
                },

                profile: false,

                loading: true,
                color: '#5dc596',
                size: '20px'         
            }
        },

        computed: {

            isAuthorisedToEdit: function() {
                
                if(window.isAuthenticated && (window.withEditRights || this.recipe.user_id == window.userId )) {
                    console.log();
                    return true;
                }
                return false;
            },

        },

        created() {
            console.log('isAuthenticated: ' + window.isAuthenticated);
            console.log('withEditRights: ' + window.withEditRights);
            console.log('userid: ' + window.userId);

            var id = window.location.pathname.split('/')[2];

            RecipeModel.find(recipe => this.recipe = recipe, id).then(function() {

                console.log(this.recipe);
                if(this.recipe.duration > 0) {
                    this.recipe.timeToFinishRecipe = Moment.duration(this.recipe.duration, 'seconds').humanize();    
                } else {
                    this.recipe.timeToFinishRecipe = '';
                }                

                this.recipe.isLoggedIn = window.isAuthenticated;
                this.loading = false;     

            }.bind(this));
        },

        methods: {

            addComment: function(comment) {
                console.log(comment);                
                this.recipe.comments.push(comment);
            },

            notEmpty: function(timeToFinishRecipe) {
                if( timeToFinishRecipe != '' || timeToFinishRecipe > 0 ) {
                    return true;
                }
                return false;
            },

        }

    }
</script>