<template>

	<div>
		<!--  Recipe Name -->
		<div class="form-group">
			<div class="field" v-bind:class="{ 'form-group--error': $v.recipe.title.$error }">
			  <label class="label">Recipe Name</label>

			  <p class="control has-icons-left has-icons-right">
			    <input class="input" type="text" v-bind:class="{ 'is-danger': $v.recipe.title.$error }" @input="$v.recipe.title.$touch()" placeholder="Your recipe name here..." value="Bietje bami" v-model="recipe.title" autofocus>
			    <span v-if="$v.recipe.title.required && $v.recipe.title.minLength" class="icon is-small is-right">
						<i class="fa fa-check"></i>
				</span>
				<span v-if="!$v.recipe.title.required || !$v.recipe.title.minLength" class="icon is-small is-right">
						<i class="fa fa-warning"></i>
				</span>
			  </p>

			  <div class="wrapper" v-if="$v.recipe.title.$error">
				<p v-if="!$v.recipe.title.required" class="help is-danger">The recipename is required.</p>
				<p v-if="!$v.recipe.title.minLength" class="help is-danger">Title must have at least {{$v.recipe.title.$params.minLength.min}} letters.</p>
			  </div>			  
			</div>
		</div>

		<!--  Recipe Description -->
		<div class="field" v-bind:class="{ 'form-group--error': $v.recipe.description.$error }">
		  <label class="label">Description</label>
		  <p class="control">
		    <textarea class="textarea" placeholder="Describe your recipe here..." v-model="recipe.description" v-bind:class="{ 'is-danger': $v.recipe.description.$error }" v-model.trim="recipe.description" @input="$v.recipe.description.$touch()" ></textarea>
		  </p>
		  <div class="wrapper" v-if="$v.recipe.description.$error">
			<p v-if="!$v.recipe.description.required" class="help is-danger">The description is required.</p>
			<p v-if="!$v.recipe.description.minLength" class="help is-danger">Description must have at least {{$v.recipe.description.$params.minLength.min}} letters.</p>
		  </div>				  
		</div>	

		<!--  Recipe Duration -->
		<div class="form-group">
			<div class="field" v-bind:class="{ 'form-group--error': $v.recipe.duration.$error }">
			  <label class="label">Duration (in seconds)</label>

			  <p class="control has-icons-left has-icons-right">
			    <input class="input" type="text" v-bind:class="{ 'is-danger': $v.recipe.duration.$error }" @input="$v.recipe.duration.$touch()" placeholder="Your creative recipe name here..." value="Bietje bami" v-model="recipe.duration">
			    <span v-if="$v.recipe.duration.required" class="icon is-small is-right">
						<i class="fa fa-check"></i>
				</span>
				<span v-if="!$v.recipe.duration.required" class="icon is-small is-right">
						<i class="fa fa-warning"></i>
				</span>
			  </p>

			  <div class="wrapper" v-if="$v.recipe.title.$error">
				<p v-if="!$v.recipe.title.required" class="help is-danger">The recipename is required.</p>
				<p v-if="!$v.recipe.title.minLength" class="help is-danger">Title must have at least {{$v.recipe.title.$params.minLength.min}} letters.</p>
			  </div>			  
			</div>
		</div>		
		
	</div>

</template>

<script>
    import { validationMixin } from 'vuelidate';
	import { email, required, minLength, between } from 'vuelidate/lib/validators';

	export default {

		validations: {

	    	recipe: {
	    		title: {
	    			required,
	    			minLength: minLength(4)
	    			
	    		},	  

	    		description: {
	    			required,
	    			minLength: minLength(20)
	    		},

	    		duration: {
	    			required,
	    			// min number?
	    		}
	    	}

	    }, 		

		props: ['recipe'],

	}
</script>