<template>

	<div class="steps">
		<div class="recipeStep" v-for="step in steps" >

			<label class="label">

				<div class="one-line">
					Step {{ step.stepnumber }}
				</div>

			    <span class="icon" @click="removeStep(step)">
					<i class="fa fa-times"></i>
				</span>

			</label>

			<input v-focus :ref="'step' + step.stepnumber" class="input" type="text" placeholder="Click to add step" v-model="step.description" @keydown.tab="addAnotherStep($event, step)">

			<hr>

		</div>		

		<div class="addstepcontainer">
			<label class="label">Step {{steps.length+1}}</label>

			<button class="input" @click="addAnotherStep($event, '')" >Click to add step</button>
		</div>

	</div>

</template>

<script>
	export default {
		props: ['steps'],

		methods: {
			addAnotherStep: function(evt, step) {
				if (evt.key == 'Tab' && !evt.shiftKey) {
		    		if(step.stepnumber == this.steps.length) {
						evt.preventDefault();
						this.$emit('addAnotherStep', 'addstep');
					}
				} else if(evt.type == 'click') {
					this.$emit('addAnotherStep', 'addstep');
				}
			},

			removeStep: function(step) {
				this.$emit('deleteThisStep', step);
			}
		},
		
		directives: {
			focus: {
				inserted: function (el) {
					el.focus()
				}
			}
		}		

	}
</script>