<template>
	<div>
		<h1 class="subtitle">{{stepsTitle}}</h1>

		<div class="recipeSteps" v-for="step in steps" >
			<label class="label">Step {{ step.stepnumber }}</label>
			<p>{{step.description}}</p>
			<hr>
		</div>		
	</div>
</template>

<script>
	export default {

		props: ['steps'],

		methods: {

		},

		computed: {
			stepsTitle: function() {
				var vm = this;

				if(vm.steps.length > 1) {
					return 'It takes ' + vm.steps.length + ' steps to finish this recipe';
				} else if(vm.steps.length == 1) {
					return 'It takes ' + vm.steps.length + ' step to finish this recipe';
				}
				return 'No steps available';
			}
		},

		data() {

			return {
				
			}

		}, 

	}
</script>