<template>

    <div class="container page-home">

        <div class="has-text-centered">
            <sync-loader :loading="isLoading" :color="color" :size="size"></sync-loader>

             <div v-if="!isLoading & numberOfRecipes < 1">
                 You haven't created any recipes yet, start <a href="/recipes/create">here</a>!
             </div>            
        </div>

        <transition-group name="fade">
            <div class="card" v-for="recipe in profile.recipes" :key="recipe.id">
                <div class="columns">
                    <div class="column is-3"></div>
                    <div class="column is-6">
                        <div class="card-image">
                            <div v-if="!isLoading">
                                <a v-bind:href="'/recipes/'+ recipe.id">
                                    <figure class="image is-4by3">
                                        <img :src="'/uploads/avatars/'+recipe.image" alt="image">
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content image-with-titles">
                                    <p class="title is-4"><a v-bind:href="'/recipes/'+ recipe.id">{{ recipe.title }}</a></p>
                                    <a v-if="isAuthorisedToEdit" v-bind:href="'/recipes/' + recipe.id + '/edit/'">
                                        <span class="icon">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>
                                    </a>  
                                    <a v-if="isAuthorisedToEdit">
                                        <span class="icon" v-on:click="deleteRecipe(recipe)">
                                            <i class="fa fa-trash-o"></i>
                                        </span>
                                    </a>                                                                        
                                    <p class="subtitle is-6">Total calories: {{ recipe.total_calories }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ recipe.description }}
                                <br>
                                <br>
                                <p>Ingredients:</p>
                                <p class="content" v-for="ingredient in recipe.ingredients">
                                    {{ ingredient.pivot.amount }}{{ ingredient.unit }} {{ ingredient.name }}, calories: {{ ingredient.pivot.amount * ingredient.calories }}
                                </p>
                                <small>{{ postedOn(recipe) }} - {{recipe.comments.length}} comments & {{recipe.steps.length}} steps</small>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3"></div>
                </div>
            </div>
        </transition-group>
        
    </div>	

</template>

<script>

    import SyncLoader from 'vue-spinner/src/SyncLoader.vue';

    import ProfileModel from '../../models/profile';
    import RecipeModel from '../../models/recipe';
    import Moment from 'moment';

	export default {

		components: {
			SyncLoader
		},


		data: function() {

			return {
                profile: {},

				isLoading: true,

                numberOfRecipes: 0,

				userId: 0,

                color: '#5dc596',
                size: '20px'   				
			}

		}, 

		created() {
            ProfileModel.find(profile => this.profile = profile, this.userId).then((profile) => {	
            	this.isLoading = false;

                this.numberOfRecipes = profile.recipes.length;

            	console.log(profile);
            })
		},

        computed: {
            isAuthorisedToEdit: function() {               
                if(window.isAuthenticated && (window.withEditRights || this.recipe.user_id == window.userId )) {
                    return true;
                }
                return false;
            },

        },        

		methods: {
            postedOn: function(recipe) {
                return Moment(recipe.created_at).fromNow();
            },

            /**
             * @todo: create deleterecipe button
             */
            deleteRecipe: function(recipe) {
                console.log('delete');

                // RecipeModel.destroy(recipe).then(function(response) {   
                //     // vm.isPosting = false;
                //     console.log(response);
                //     // window.location.replace('/recipes/' + savedRecipe.data.id);
                // }, function(reason) {
                //     console.log(reason);
                //     // vm.isPosting = false;
                // });                 
            }
		},
		
	}
</script>