<template>
    <div>
        <span class="icon" @click="deleteRecipe(recipe)">
            <i class="fa fa-times"></i>
        </span>  
    </div>  
</template>

<script>

    import RecipeModel from '../models/recipe';

    export default {

        components: {
            
        },

        props: ['recipe'],

        data: function() {
            return { 
            	name: ''
        	}
        },

        methods: {
            deleteRecipe: function(recipe) {
                console.log(recipe);
                RecipeModel.destroy(recipe).then((response) => {  
                    console.log(response);
                    this.$cookies.set("hasDeletedRecipe","true","60s", "/");
                    window.location.replace('/');
                });
            }
        }

    }
</script>