<template>
    <div class="container page-home">

        <div class="has-text-centered">
            <sync-loader :loading="loading" :color="color" :size="size"></sync-loader>     
        </div>

        <div v-if="!loading">
            <div v-for="recipe in recipes">       
                <ShowMultiple :recipe="recipe"></ShowMultiple> 
            </div>
            <div v-if="recipes.length == 0">
                <p>Could not retrieve any recipes</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Moment from 'moment';
    import Recipe from '../../models/recipe';
    import SyncLoader from 'vue-spinner/src/SyncLoader.vue';

    import ShowMultiple from './recipe';

    export default {

        components: {
            SyncLoader,
            ShowMultiple
        },

        data() {
            return {
                recipes: [],

                loading: true,
                color: '#5dc596',
                size: '20px'
            }
        },

        created() {
            if(this.$cookies.get("hasDeletedRecipe") == "true") {
                this.showToast();
            }

            Recipe.all(recipes => this.recipes = recipes).then(function() {
                console.log(this.recipes);
                this.loading = false;
            }.bind(this));
            
        },

        methods: {
            postedOn(recipe) {
                return Moment(recipe.created_at).fromNow();
            },

            showToast() {
                let toast1 = this.$toasted.success("Recipe successfully deleted!", { 
                     theme: "bubble", 
                     position: "bottom-right", 
                     duration : 1500
                });            
                this.$cookies.remove('hasDeletedRecipe');         
            }
        }
    }
</script>
