<template>
    <div>
         <div class="columns">
            <div class="column is-3"></div>
            <div class="column is-6">
                <div class="card-image">
                    <div v-if="">
                        <a v-bind:href="'/recipes/'+ recipe.id">
                            <figure class="image is-4by3">
                                <img :src="'/uploads/avatars/'+recipe.image" alt="image">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content image-with-titles">
                            <p class="title is-4">
                                <a v-bind:href="'/recipes/'+ recipe.id">{{ recipe.title }}</a>
                            </p>
                            <a v-if="isAuthorisedToEdit" v-bind:href="'/recipes/' + recipe.id + '/edit/'">
                                <span class="icon">
                                    <i class="fa fa-pencil-square-o"></i>
                                </span>
                            </a>                            
                            <p class="subtitle is-6">Total calories: {{ recipe.total_calories }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ recipe.description }}
                        <br>
                        <br>
                        <p>Ingredients:</p>
                        <p class="content" v-for="ingredient in recipe.ingredients">
                            {{ ingredient.pivot.amount }}{{ ingredient.unit }} {{ ingredient.name }}, calories: {{ ingredient.pivot.amount * ingredient.calories }}
                        </p>
                        <small>{{ postedOn(recipe) }} - {{recipe.comments.length}} comments & {{recipe.steps.length}} steps</small>
                    </div>
                </div>
            </div>
            <div class="column is-3"></div>
        </div>
    </div>    
</template>

<script>

    import Moment from 'moment';

    export default {

        props: ['recipe'],

        components: {
            Moment
        },

        props: ['recipe'],

        data: function() {
            return { 
                name: ''
            }
        },

        computed: {
            isAuthorisedToEdit: function() {               
                if(window.isAuthenticated && (window.withEditRights || this.recipe.user_id == window.userId )) {
                    return true;
                }
                return false;
            },
        },

        methods: {
            postedOn(comment) {
                return Moment(comment.created_at).fromNow();
            },
        }

    }
</script>
