<template>
    <div class="container">
        <div class="columns">
            <div class="column is-2"></div>
            <div class="column is-8">    
                <div class="field">
                    <label class="label comment">Comment</label>
                    <div v-if="!recipe.isLoggedIn">
                        <a class="login-to-comment" href="/login">Login</a>
                    </div>

                    <textarea class="textarea" v-bind:placeholder="placeholder" v-model="comment" v-bind:disabled="!recipe.isLoggedIn" v-on:keyup="doStuff"></textarea>
                </div>

                <button class="button is-primary" v-on:click="saveComment" v-bind:disabled="!recipe.isLoggedIn" v-bind:class="{ 'is-loading': isPosting }">Post comment</button>
            </div>
            <div class="column is-2"></div>
        </div>
    </div>
</template>

<script>
    import { validationMixin } from 'vuelidate';
    import { email, required, minLength, between } from 'vuelidate/lib/validators';
    import Comment from '../../models/comment';

    import _ from 'lodash';

    export default {

        //@TODO: disable save button when comment is empty

        props: ['recipe'],

        data: function() {
            return { 
            	comment: '',
                placeholder: '',
                isPosting: false
        	}
        },

		validations: {
	    	recipe: {
	    		title: {
	    			required,
	    			minLength: minLength(4)
	    			
	    		},	    		
	    		description: {
	    			required,
	    			minLength: minLength(20)
	    		}
	    	}
	    },        

        created: function() {
            if(this.recipe.isLoggedIn) {
                this.placeholder = 'Your comment here';
            } else {
                this.placeholder = 'Please login comment on this recipe';
            }
        },

        methods: {  	
            saveComment: function() {
                this.isPosting = true;

                Comment.create(this.recipe.id, this.comment).then(function(comment) {   

                    var that = this;
                    if(comment.status == '200') {
                        that.$emit('addComment', comment.data);
                        that.comment = '';
                        that.isPosting = false;
                    }
                    
                }.bind(this), function(reason) {
                    console.log(reason);
                }.bind(this)); 
            },

            doStuff: _.debounce(function () {
                console.log('test');
                console.log(this.recipe);
            }, 1000),
    	}
    }
</script>