<template>
    <div>
        <h1 class="title">Comments</h1>

        <div v-if="recipe.comments == 0">No comments yet</div>

        <transition-group name="fade">
            <div class="comments" v-for="comment in recipe.comments" :key="comment.id">
                <div class="container">
                    <div class="media">
                          <div class="media-left">
                            <figure class="image is-48x48">
                              <img :src="'/uploads/avatars/default.jpg'" alt="Image">
                            </figure>
                          </div>

                          <div class="media-content">
                            <p class="title is-4">
                                {{ comment.user.name }}
                            </p>
                            <p class="subtitle is-6">
                                {{ postedOn(comment) }}
                            </p>
                        </div>
                    </div>
                   
                    <div class="content">
                        {{comment.body}}
                    </div>
                </div>

                <hr>
            </div>
        </transition-group>
    </div>  
</template>

<script>
    import { validationMixin } from 'vuelidate';
    import { email, required, minLength, between } from 'vuelidate/lib/validators';
    import Moment from 'moment';

    export default {

        components: {
            Moment
        },

        props: ['recipe'],

        data: function() {
            return { 
            	name: ''
        	}
        },

		validations: {
	    	recipe: {
	    		title: {
	    			required,
	    			minLength: minLength(4)
	    			
	    		},	    		
	    		description: {
	    			required,
	    			minLength: minLength(20)
	    		}
	    	}
	    },        

        methods: {
            postedOn(comment) {
                return Moment(comment.created_at).fromNow();
            },
        }

    }
</script>