    @import "node_modules/font-awesome/scss/font-awesome";
    @import "vue-multiselect";
    @import "bulma-deps";
    hr {
        margin: 10px 0 20px 0;
    }
    
    section.body {
        padding: 30px 0 30px 0;
    }
    
    p {
        margin: 10px 0;
    }
    
    .fa-times {
        color: red;
    }
    
    .error {
        border: 1px solid red;
    }
    
    .page-create-recipe {
        .ingredients {
            .control {
                margin: 0px;
            }
        }
        .addstepcontainer button {
            color: #757575;
            background-color: #f5f5f5;
            border: 0px;
            box-shadow: none;
        }
        input {
            margin-bottom: 15px;
            &.disabled {
                background-color: #f5f5f5;
                border-color: #f5f5f5;
                box-shadow: none;
                color: #7a7a7a;
            }
        }
        .view-recipe {
            float: right;
        }
        .multiselect {
            margin-bottom: 20px;
            .multiselect__tags {
                min-height: 36px;
                box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
                padding: 7px 40px 0 8px;
                input {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    .page-show {
        label.comment.label {
            float: left;
        }
        .login-to-comment {
            float: right;
            padding: 0px;
        }
    }
    
    .one-line {
        position: relative;
        display: inline-block;
    }
    
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 1s;
    }
    
    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
    
    .image-with-titles {
        .title {
            &.is-4 {
                margin-top: -4px;
            }
        }
    }
    
    .login-page {
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #00d1b2;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
        .form button:hover,
        .form button:active,
        .form button:focus {
            background: #01af95;
        }
        .form .message {
            margin: 15px 0 0;
            color: #6b6b6b;
            font-size: 12px;
        }
        .form .message a {
            color: #18c195;
            text-decoration: none;
        }
        .form .register-form {
            display: none;
        }
        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }
        .container:before,
        .container:after {
            content: "";
            display: block;
            clear: both;
        }
        .container .info {
            margin: 50px auto;
            text-align: center;
        }
        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }
        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }
        .container .info span a {
            color: #000000;
            text-decoration: none;
        }
        .container .info span .fa {
            color: #EF3B3A;
        }
    }
    
    a.button {
        text-decoration: none;
        padding: 0px 43px;
        color: #717171;
    }
    
    .button.active {
        background-color: #00d1b2;
        color: white;
    }
    
    body.login-page-styling {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        /* -webkit-box-orient: vertical; */
        /* -webkit-box-direction: normal; */
        /* -webkit-flex-direction: column; */
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #ccfdff;
        background: -webkit-linear-gradient(bottom left, rgba(255, 34, 56, 0.9) 10%, rgba(62, 223, 249, 0.9) 65%, rgba(255, 255, 255, 0.9) 125%);
        background: linear-gradient(to top right, rgba(255, 34, 56, 0.9) 10%, rgba(62, 223, 249, 0.9) 65%, rgba(255, 255, 255, 0.9) 125%);
        // background: rgb(105, 155, 200);
        // background: -moz-radial-gradient(top left, ellipse cover, rgba(105, 155, 200, 1) 0%, rgba(181, 197, 216, 1) 57%);
        // background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%, rgba(105, 155, 200, 1)), color-stop(57%, rgba(181, 197, 216, 1)));
        // background: -webkit-radial-gradient(top left, ellipse cover, rgba(105, 155, 200, 1) 0%, rgba(181, 197, 216, 1) 57%);
        // background: -o-radial-gradient(top left, ellipse cover, rgba(105, 155, 200, 1) 0%, rgba(181, 197, 216, 1) 57%);
        // background: -ms-radial-gradient(top left, ellipse cover, rgba(105, 155, 200, 1) 0%, rgba(181, 197, 216, 1) 57%);
        // background: radial-gradient(ellipse at top left, rgba(105, 155, 200, 1) 0%, rgba(181, 197, 216, 1) 57%);
        min-height: 100vh;
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .hero {
        background: -webkit-linear-gradient(top, #00bda1 10%, #00d1b2 65%, #ffffff 125%);
    }