<template>
	<div class="field">
	  <label class="label">
	  	<div class="one-line">
	  		{{ ingredient.name }}
			<span v-if="ingredient.amount > 0">- {{ Math.round(ingredient.calories * ingredient.amount ) }} calories    </span>
		</div>		  	
	    <span class="icon" @click="removeIngredientFromRecipe(ingredient)">
				<i class="fa fa-times"></i>
		</span>						    				
		<span class="icon" @click="toggleIngredientDetails()">
				<i class="fa fa-info-circle"></i>
		</span>						  
	  </label>

	  <div class="details" v-show="showIngredientDetails">
	  	<p>{{ingredient.description}}</p>	  	
	  </div>

	  <p class="control">
		<div class="field has-addons">
		    <input class="input" type="text" placeholder="Amount here" v-model="ingredient.amount">
		    <a class="button is-static">
		      {{ ingredient.unit }}
		    </a>
		</div>					    
	  	</p>			  
		<hr>
	</div>
</template>

<script>
	export default {

		props: ['ingredient'],

		methods: {

			toggleIngredientDetails() {
				this.showIngredientDetails = !this.showIngredientDetails;
			},

			removeIngredientFromRecipe: function(ingredient) {
				this.$emit('deleteIngredient', ingredient);
			}

		},

		data() {
			return {
				showIngredientDetails: false
			}
		}, 

	}
</script>