<template>
	<div class="field">
	  <label class="label">
	  	<div class="one-line">
	  		{{ ingredient.name }}
			<span v-if="ingredient.pivot.amount > 0">- {{ Math.round(ingredient.calories * ingredient.pivot.amount) }} calories    </span>
		</div>		  	
		<span class="icon" @click="toggleDetails()">
				<i class="fa fa-info-circle"></i>
		</span>						  
	  </label>

	  <div class="details" v-show="isActive">
	  	<p>{{ingredient.description}}</p>	  	
	  </div>

	  <p>{{ingredient.pivot.amount}} {{ ingredient.unit }}</p>

	  <hr>
	</div>
</template>

<script>
	export default {

		props: ['ingredient'],
		
		methods: {

			toggleDetails() {
				this.isActive = !this.isActive;
			},

		},

		data() {

			return {
				isActive: false
			}

		}, 

	}
</script>